<div style="width: 100%; height:80vh;">
  <mat-horizontal-stepper [linear]="true" style="margin-top: 80px; height: 100%" #stepper>
    <mat-step>
      <ng-template matStepLabel>VASSOIO</ng-template>
      <mat-card class="auth-card">
        <mat-card-content>
          <div *ngIf="vassoio.length>0; else noItems ">
            <div style="min-height: 300px;" >
              <mat-list>
                <h3 mat-subheader *ngIf="panini.length>0">PANINI</h3>
                <mat-list-item *ngFor="let el of panini; let i = index;">
                     <i class="material-icons change-quantity-button" style="cursor: pointer" (click)="onDeleteItem(panini[i])">remove</i>
                     <mat-card class="vassoio-quantity">{{el.quantita}}</mat-card>
                    <i class="material-icons change-quantity-button" style="cursor: pointer" (click)="onAddItem(panini[i])">add</i>
                    <h4 mat-line>{{el.elemento.name | uppercase}}</h4>
                    <p mat-line> {{el.elemento.descrizione}} </p>
                </mat-list-item>
                <mat-divider *ngIf="panini.length>0"></mat-divider>
                <h3 mat-subheader *ngIf="gastronomia.length>0">GASTRONOMIA</h3>
                <mat-list-item *ngFor="let el of gastronomia; let i = index;">
                  <i class="material-icons change-quantity-button" style="cursor: pointer" (click)="onDeleteItem(gastronomia[i])">remove</i>
                  <mat-card class="vassoio-quantity">{{el.quantita}}</mat-card>
                  <i class="material-icons change-quantity-button" style="cursor: pointer" (click)="onAddItem(gastronomia[i])">add</i>
                  <h4 mat-line>{{el.elemento.name | uppercase}}</h4>
                  <p mat-line> {{el.elemento.descrizione}}</p>
                </mat-list-item>
                <mat-divider *ngIf="gastronomia.length>0"></mat-divider>
                <h3 mat-subheader *ngIf="bevande.length>0">BEVANDE</h3>
                <mat-list-item *ngFor="let el of bevande; let i = index;">
                  <i class="material-icons change-quantity-button" style="cursor: pointer" (click)="onDeleteItem(bevande[i])">remove</i>
                  <mat-card class="vassoio-quantity">{{el.quantita}}</mat-card>
                  <i class="material-icons change-quantity-button" style="cursor: pointer" (click)="onAddItem(bevande[i])">add</i>
                  <h4 mat-line>{{el.elemento.name | uppercase}}</h4>
                  <p mat-line> {{el.elemento.descrizione }} </p>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="totale">
              TOTALE :  <span style="padding-left: 10px">{{totale | currency:'EUR':'symbol' }}</span>
            </div>
            <div class="row" style="margin-top: 10px; text-align: center">
              <button mat-button (click)="onResetVassoio()">RESET</button>
            </div>
          </div>
          <ng-template #noItems>
            <div style="text-align: center" >
              <h4> NON CI SONO ARTICOLI NEL CARRELLO</h4>
            </div>

          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-step>
    <mat-step [stepControl]="formGroup">
      <form [formGroup]="formGroup">
        <ng-template matStepLabel>DATI</ng-template>
          <mat-card class="auth-card">
          <mat-card-content style="text-align: center">
            <div style="text-align: center">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field hideRequiredMarker="true">
                    <input matInput placeholder="TELEFONO" formControlName="tel" required>
                  </mat-form-field>
                  <span *ngIf="!formGroup.get('tel').valid && formGroup.get('tel').touched"
                        class="help-block">Inserisci una numero di telefono valido </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width" hideRequiredMarker="true">
                    <input matInput  (click)="picker.open()"
                           [min]="today"
                           formControlName="date"
                           [matDatepicker]="picker"
                           placeholder="DATA"
                           (dateChange)="addEvent('change', $event)"
                           [matDatepickerFilter]="myMondayFilter"
                           required>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                  </mat-form-field>
                  <span *ngIf="!formGroup.get('date').valid && formGroup.get('date').touched"
                        class="help-block">Inserisci una data valida</span>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width" hideRequiredMarker="true">
                    <mat-select placeholder="ORA" formControlName="hours" [(ngModel)]="selectedHour">
                      <mat-optgroup *ngFor="let group of filteredhours" [label]="group.dayMoment">
                        <mat-option *ngFor="let hour of group.hours" [value]="hour.value">
                          {{ hour.viewValue }}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                  <span *ngIf="!formGroup.get('hours').valid && formGroup.get('hours').touched"
                        class="help-block">Inserisci un orario valido</span>
                </div>
                </div>
              </div>
            </div>
          </mat-card-content>
         </mat-card>
       </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>PAGA</ng-template>
      <div class="button-row" style="text-align: center">
        <mat-card class="auth-card">
          <mat-card-content style="text-align: center">
            <div class="row">
              <app-braintree
                      [clientTokenURL]="'/braintree/getclienttoken'"
                      [createPurchaseURL]="'/braintree/createpurchase'"
                      (paymentStatus)="onPaymentStatus($event)"
                      [buttonText]="'PAGA'">
              </app-braintree>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
    <div class="row" style="text-align: center;">
        <button    mat-button (click)="goBack(stepper)">INDIETRO</button>
        <button    mat-button routerLink="/prenota" *ngIf="vassoio?.length==0">INDIETRO</button>
        <button    mat-button (click)="goForward(stepper)"  *ngIf="vassoio?.length!=0" [disabled]="stepper?.selectedIndex === stepper?._steps?.length-1">AVANTI
        </button>
    </div>
</div>

