.login-button{
    width: 100%;
    color: white;
    background-color: #b33c46;
}

.user-login-icon{
    margin: auto;
    padding: 10px;
    border-radius: 55%;
    font-size: 80px;
    background: #9ad9ed;
    color: white;
}

.card-center{
    min-width: 300px;
    margin: auto;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.signInInput{
    width: 80% !important;
}

.footer-social-login{
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.auth-card{
    margin: 1px;
    max-width: 400px;
    float: none;
    left: 50%;
    transform: translate(-50%,0);
}

.icon-social-login {
    margin: 30px;
    cursor: pointer;
}

a:hover{text-decoration: none !important;}