.login-button{
    width: 100%;
    color: white;
    background-color: #b33c46;
}

.user-login-icon{
    margin: auto;
    padding: 10px;
    border-radius: 55%;
    background: #9ad9ed;
    color: white;
    font-size: 80px;
    cursor: pointer;
}

.card-center{
    max-width: 400px;
    min-width: 400px;
    margin: auto;
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

.signUpInput{
    width: 80% !important;
}