<div class="container" style="margin-top: 100px">
    <mat-card style="max-width: 400px; margin: auto;" class="card-center">
        <mat-card-header>
            <mat-card-title> REGISTRATI</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" style="text-align: center">
                <div class="col-md-12" style="text-align: center; margin-top: 10px">
                    <i class="material-icons user-login-icon">person</i>
                </div>
            </div>
            <div style="text-align: center">
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-12">
                        <mat-form-field hideRequiredMarker="true">
                            <input matInput placeholder="NOME" name="nome" type="text" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-12">
                        <mat-form-field hideRequiredMarker="true">
                            <input matInput placeholder="COGNOME" name="cognome" type="text" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-12">
                        <mat-form-field hideRequiredMarker="true">
                            <input matInput placeholder="EMAIL" name="email" type="email" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-12">
                        <mat-form-field hideRequiredMarker="true">
                            <input matInput placeholder="PASSWORD" name="password" type="password" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div>
                <button mat-raised-button class="login-button">REGISTRATI</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>