.card-block{
  text-align: center;
}

agm-map {
  height: 600px;
  width: 100%;
}

.hs-line-11{
  position: relative;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  line-height: 11;
  opacity: .9;
  text-align: center;
}

.small-container{
  background-color: #b33c46;
  color: white;
  padding: 60px;
}

.contact-icon{
  font-size: 50px;
  margin-top: -10px;
  padding: 10px;
  border-radius: 10%;
  position: absolute;
}

.contact-feature{
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.8;
  opacity: .9;
  text-align: left;
  margin-left: 70px;
}

.contact-detail{
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.8;
  opacity: .9;
  text-align: left;
  margin-left: 70px;
}
.a-left{
  text-align: left;
  margin: 35px;
}